

    @font-face{
    font-family: 'fuenteHarry'; src: url(fonts/harry_p/HARRYP__.TTF);
}
body{
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Fauna One', serif;
    margin: 0;
    padding: 20px;
}
header{
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url(/images/cuero.png);
    border-bottom: 3px double #c1a35f;
    margin-bottom: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
header h1 {
    font-family:'fuenteHarry' ;
    color: #c1a35f;
    font-size: 3.5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 
                 0 0 20px rgba(193, 163, 95, 0.4);
    }
    header p {
    font-family: 'Fauna One', serif;
    font-style: italic;
    color: #a5a5a5;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 2px;
}
header::after {
    content: "⚡";
    display: block;
    color: #c1a35f;
    font-size: 1.5rem;
    margin-top: 15px;
    opacity: 0.7;
}
.catalogo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.producto-card {
    background: #2a2a2a;
    border: 1px solid #3d3d3d;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
.producto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(193, 163, 95, 0.3);
    border-color: #c1a35f;
} 
.imagen-placeholder img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}
.info-producto h3 {
    font-family: 'Cinzel', serif;
    margin: 0 0 10px 0;
    color: #fff;
}
.categoria {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #c1a35f;
    letter-spacing: 1px;
}
.precio {
    display: block;
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffd700;
}

.btn-ver {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #c1a35f;
    border: 1px solid #c1a35f;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: all 0.3s;
}
.btn-ver:hover {
    background-color: #c1a35f;
    color: #1a1a1a;
}
